<a href="https://colab.research.google.com/github/Pinki19tiwa/Democode/blob/master/MentalHealthAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
data=pd.read_csv("/content/train.csv")

In [6]:
data.head()

                Employee ID  ... Mental Fatigue Score
0  fffe32003000360033003200  ...                 0.16
1      fffe3700360033003500  ...                 0.36
2  fffe31003300320037003900  ...                 0.49
3  fffe32003400380032003900  ...                 0.20
4  fffe31003900340031003600  ...                 0.52

[5 rows x 12 columns]